<ng-container *ngIf="errorMessage; else ShowProducts">
  <p>
    {{ errorMessage }}
  </p>
</ng-container>
<ng-template #ShowProducts>
  <div *ngFor="let product of productsList">
    <p>
      <strong>id</strong>: {{ product.id }}<br />
      <strong>Title</strong>: {{ product.title }}<br />
      <strong>Price</strong>: {{ product.price }}<br />
      <strong>Quantity</strong>: {{ product.quantity }}<br />
      <strong>Photo</strong>: {{ product.photo }}<br />
    </p>
  </div>
</ng-template>
