  <section class="wrap-3d">
    
    <div class="item-3d">
      <span class="ground"></span>
      <figure class="item-content group">
        <div class="item-img">
          <img src="{{ product.photo }}" alt="" />
        </div>
        <figcaption class="item-caption">
          <h1>{{ product.title }}</h1>
          <br><br>
          <p> {{ product.description }} </p>
          <br><br>
          <h1>$ {{ product.price }}</h1>
        </figcaption>
      </figure>
    </div>
    
  </section>