<header>
  <h1>Shop Sphere</h1>
  <p>Ici on mettra le header</p>
  <i>
    NB: les liens c'est juste pour vérifier que les routes fonctionnent bien
  </i>
  <nav>
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/admin']">Admin</a></li>
      <li><a [routerLink]="['/login']">Log in</a></li>
      <li><a [routerLink]="['/me']">Me</a></li>
      <li><a [routerLink]="['/orders']">My orders</a></li>
      <li><a [routerLink]="['/orders', 0]">An order</a></li>
      <li><a [routerLink]="['/products', 0]">A product</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>Ici on mettra le footer</p>
</footer>
